<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Booth</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='pico.min.css') }}"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<body>
  <nav>
    <a href="{{ url_for('booth.index') }}">
      <h1>Booth - Applifting Python Assessment</h1>
    </a>
    <div id="session-controls">
      {% if g.user %}
      <span>{{ g.user['username'] }}</span>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      
      <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
      </div>
  </nav>
  <main class="container">
    {% if g.user or session_control %}
    <header>
      {% if back_url %}
      <a href="{{ back_url }}">⟵ back</a>
      {% endif %}
      {% block header %}{% endblock %}
    </header>
    <div class="content">
      {% for message in get_flashed_messages() %}
      <mark>{{ message }}</mark>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
    {% else %}
    <mark>Login to see content.</mark>
    {% endif %}
  </main>
</body>
